# Disable source map parsing for node_modules to eliminate Webpack 5 source-map-loader warnings
GENERATE_SOURCEMAP=false

# AniList OAuth2 Client ID (Create your free client at https://anilist.co/settings/developer)
# Redirect URI should be set to your app URL (e.g., http://localhost:3000)
REACT_APP_ANILIST_CLIENT_ID=
